{% extends 'base.html' %}
{% block content %}

<h1>{{ question }}</h1>

<form action="/answer" method="POST">


    {% for choice in choices %}
    <p>
        {% if show_text %}
        <input type="text" name="answer" value="">

        {% else %}
        <input type="radio" name="answer" value="{{choice}}">
        {% endif %}

        {{ choice }}
        <input type="hidden" name="question_num" value="{{question_num}}">
    </p>
    {% endfor %}
    <button>Continue</button>
</form>

{% endblock %}